<template>
  <div>
    <!-- 面包屑导航区 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>项目管理</el-breadcrumb-item>
      <el-breadcrumb-item>系统管理</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 卡片视图 -->
    <el-card>
      <el-row :gutter="20">
        <el-col :span="6">
          <el-input
            placeholder="请输入关键字搜索系统名称"
            v-model="queryInfo.kw"
            clearable
            @clear="getProjectsSystemList"
            @keyup.enter.native="getProjectsSystemList"
          >
            <el-button slot="append" icon="el-icon-search" @click="getProjectsSystemList"></el-button>
          </el-input>
        </el-col>
        <el-col :span="4">
          <el-button type="primary" @click="addDialogVisible=true">添加系统</el-button>
        </el-col>
      </el-row>
      <!-- 表格数据 -->
      <el-table :data="projectsSystemList" border stripe>
        <el-table-column align="center" label="序号" type="index" width="60px"></el-table-column>
        <el-table-column label="系统名称" prop="name"></el-table-column>
        <el-table-column label="所属项目" prop="project_name"></el-table-column>
        <el-table-column align="center" label="操作" width="200px">
          <template slot-scope="scope">
            <el-button
              type="primary"
              icon="el-icon-edit"
              size="mini"
              @click="editProjectSystemById(scope.row.id)"
            ></el-button>
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              @click="removeById(scope.row.id)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页区域 background -->
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="queryInfo.page"
        :page-sizes="[10, 20, 30, 40, 50]"
        :page-size="queryInfo.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
      <!-- 添加系统弹窗 -->
      <el-dialog
        title="添加系统"
        :visible.sync="addDialogVisible"
        width="30%"
        :before-close="addHandleClose"
        :close-on-click-modal="false"
      >
        <!-- 弹窗body -->
        <el-form
          :model="addProjectSystemForm"
          :rules="addProjectSystemFormRules"
          ref="addProjectSystemFormRef"
          label-width="100px"
          class="ruleForm"
        >
          <el-form-item label="所属项目" prop="project_id">
            <el-select v-model="addProjectSystemForm.project_id" placeholder="请选择">
              <el-option
                v-for="project in projects"
                :key="project.id"
                :label="project.name"
                :value="project.id"
              ></el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="系统名称" prop="name">
            <el-input v-model="addProjectSystemForm.name" placeholder="请输入系统名称"></el-input>
          </el-form-item>
        </el-form>
        <!-- 弹窗footer -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="addCancelDialogVisible">取 消</el-button>
          <el-button type="primary" @click="addProjectSystemSubmit">确 定</el-button>
        </span>
      </el-dialog>

      <!-- 编辑项目弹窗 -->
      <el-dialog
        title="编辑项目"
        :visible.sync="editDialogVisible"
        width="30%"
        :before-close="editHandleClose"
        :close-on-click-modal="false"
      >
        <!-- 弹窗body -->
        <el-form
          :model="editProjectSystemForm"
          :rules="editProjectSystemFormRules"
          ref="editProjectSystemFormRef"
          label-width="80px"
          class="ruleForm"
        >
          <el-form-item label="所属项目" prop="project_id">
            <el-select v-model="editProjectSystemForm.project_id" placeholder="请选择">
              <el-option
                v-for="project in projects"
                :key="project.id"
                :label="project.name"
                :value="project.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="项目名称" prop="name">
            <el-input v-model="editProjectSystemForm.name" placeholder="请输入项目名称"></el-input>
          </el-form-item>
        </el-form>
        <!-- 弹窗footer -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="editCancelDialogVisible">取 消</el-button>
          <el-button type="primary" @click="editProjectSystemSubmit(editProjectSystemForm.id)">确 定</el-button>
        </span>
      </el-dialog>
    </el-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      queryInfo: {
        kw: '',
        page: 1
        // pageSize: 10
      },
      // 商品列表
      projectsSystemList: [],
      // 商品总数
      total: 0,
      addDialogVisible: false,
      addProjectSystemForm: { name: '', project_id: '' },
      addProjectSystemFormRules: {
        project_id: [
          { required: true, message: '请选择归属部门', trigger: 'blur' }
        ],
        name: [
          { required: true, message: '请输入系统名称', trigger: 'blur' },
          { min: 3, max: 32, message: '长度在 3 到 32 个字符', trigger: 'blur' }
        ]
      },
      editDialogVisible: false,
      editProjectSystemForm: { id: '', name: '', project_id: '' },
      editProjectSystemFormRules: {
        name: [
          { required: true, message: '请输入项目名称', trigger: 'blur' },
          { min: 3, max: 32, message: '长度在 3 到 32 个字符', trigger: 'blur' }
        ],
        project_id: [
          { required: true, message: '请选择归属部门', trigger: 'blur' }
        ]
      },
      projects: [],
      value: ''
    }
  },
  created() {
    this.getProjectsSystemList()
    this.getProjectsList()
  },
  methods: {
    // 根据分页获取对应的项目列表
    async getProjectsSystemList() {
      const { data: res } = await this.$http.get('/interfaces/projectSystem', {
        params: this.queryInfo
      })
      if (res.code !== 200) {
        return this.$message.error(res.message)
      }
      this.projectsSystemList = res.data
      //   console.log(this.goodsList)
      this.total = res.total_count
    },
    // 添加项目弹窗 点击 x的效果
    addHandleClose() {
      this.addDialogVisible = false
      this.$refs.addProjectSystemFormRef.resetFields()
    },
    // 取消按钮操作
    addCancelDialogVisible() {
      this.addDialogVisible = false
      this.$refs.addProjectSystemFormRef.resetFields()
    },
    addProjectSystemSubmit() {
      this.$refs.addProjectSystemFormRef.validate(async valid => {
        if (!valid) return false
        const { data: res } = await this.$http.post(
          '/interfaces/projectSystem',
          this.addProjectSystemForm
        )
        if (res.code !== 200) return this.$message.error('添加失败！')
        this.addDialogVisible = false
        this.$refs.addProjectSystemFormRef.resetFields()
        this.$message.success('添加成功！')
        this.getProjectsSystemList()
      })
    },
    // 变更分页size
    handleSizeChange(newSize) {
      this.queryInfo.pageSize = newSize
      this.getProjectsSystemList()
    },
    // 变更页面
    handleCurrentChange(newSize) {
      this.queryInfo.page = newSize
      this.getProjectsSystemList()
    },
    // 删除项目
    async removeById(id) {
      const confirmResult = await this.$confirm(
        '此操作将永久删除, 是否继续?',
        '温馨提示',
        {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }
      ).catch(err => err)
      if (confirmResult !== 'confirm') {
        return this.$message.info('已取消删除！')
      }
      const { data: res } = await this.$http.delete(
        '/interfaces/projectSystem/' + id
      )
      if (res.code !== 200) {
        return this.$message.error('删除项目失败！')
      }
      this.$message.success('删除成功！')
      this.getProjectsSystemList()
    },
    async editProjectSystemById(id) {
      const { data: res } = await this.$http.get(
        '/interfaces/projectSystem/' + id
      )
      if (res.code !== 200) return this.$message.error('系统异常！')
      this.editProjectSystemForm.name = res.data[0].name
      this.editProjectSystemForm.id = res.data[0].id
      this.editProjectSystemForm.project_id = res.data[0].project_id
      this.editDialogVisible = true
    },
    // 获取部门信息
    async getProjectsList() {
      const { data: res } = await this.$http.get(
        '/interfaces/project?pageSize=100'
      )
      if (res.code !== 200) return this.$message.error('2系统异常！')
      this.projects = res.data
    },
    // 取消编辑项目按钮操作
    editCancelDialogVisible() {
      this.editDialogVisible = false
      this.$refs.editProjectSystemFormRef.resetFields()
    },
    editProjectSystemSubmit(id) {
      this.$refs.editProjectSystemFormRef.validate(async valid => {
        if (!valid) return false
        const { data: res } = await this.$http.put(
          '/interfaces/projectSystem/' + id,
          this.editProjectSystemForm
        )
        if (res.code !== 200) return this.$message.error('编辑失败！')
        this.editDialogVisible = false
        this.$refs.editProjectSystemFormRef.resetFields()
        this.$message.success('编辑成功！')
        this.getProjectsSystemList()
      })
    },
    // 添加环境弹窗 点击 x的效果
    editHandleClose() {
      this.$refs.editProjectSystemFormRef.resetFields()
      this.editDialogVisible = false
    }
  }
}
</script>

<style lang="less" scoped></style>
