<template>
  <div>
    <!-- 面包屑导航区 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>报告管理</el-breadcrumb-item>
      <el-breadcrumb-item>测试进度生成</el-breadcrumb-item>
    </el-breadcrumb>
    <el-card>
      <el-form ref="genDataFormRef" label-width="110px" :model="genDataForm">
        <el-row :gutter="10">
          <el-col :span="7">
            <el-form-item label="测试时间消耗：">
              <el-input-number
                :min="0"
                :max="100"
                controls-position="right"
                v-model="genDataForm.consumption"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="7">
            <el-form-item label="测试进度：">
              <el-input-number
                :min="0"
                :max="100"
                controls-position="right"
                prop="progress"
                v-model="genDataForm.progress"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-button type="primary" @click="genDataSubmit">生成进度</el-button>
          </el-col>
        </el-row>
      </el-form>
      <el-table :data="tableData" border stripe>
        <el-table-column type="index" label="序号" width="50"></el-table-column>
        <el-table-column prop="job" label="事项" width="120"></el-table-column>
        <el-table-column label="进度" width="200">
          <template slot-scope="scope">
            <el-progress
              :text-inside="true"
              :stroke-width="20"
              :percentage="scope.row.progress"
              :status="scope.row.status"
            ></el-progress>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      genDataForm: {
        consumption: 0,
        progress: 0
      },
      tableData: [
        {
          job: '测试时间消耗',
          status: 'exception',
          progress: 0
        },
        {
          job: '测试进度',
          status: 'success',
          progress: 0
        }
      ]
    }
  },

  methods: {
    genDataSubmit() {
      // 表单预验证
      this.$refs.genDataFormRef.validate(async valid => {
        if (!valid) return false
        this.tableData = [
          {
            job: '测试时间消耗',
            status: 'exception',
            progress: this.genDataForm.consumption
          },
          {
            job: '测试进度',
            status: 'success',
            progress: this.genDataForm.progress
          }
        ]
      })
    }
  }
}
</script>

<style scoped>
.el-table {
  margin-top: 0px;
  font-size: 12px;
}
</style>
