/* 全局样式 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 680;
}

.el-breadcrumb {
  margin-bottom: 12px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-card__body {
  padding: 10px;
}

.el-table {
  margin-top: 10px;
  font-size: 12px;
  overflow: auto;
}


.el-pagination {
  margin-top: 8px;
}

/* 解决级联选择框的问题 */
/* div .el-scrollbar__wrap {
  height: 300px !important
} */

/* 步骤条 */
.el-steps {
  margin: 15px 0;
}

.el-step__title {
  font-size: 13px;
}

.ql-editor {
  min-height: 300px;
}

.el-progress-bar__innerText {
  color: black;
  font-size: 12px;
  margin: 0 8px;
}