<template>
  <div>
    <!-- 面包屑导航区 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>Mock管理</el-breadcrumb-item>
      <el-breadcrumb-item>Mock模板管理</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 卡片视图 -->
    <el-card>
      <el-row :gutter="20">
        <el-col :span="6">
          <el-input
            placeholder="请输入关键字搜索名称"
            v-model="queryInfo.kw"
            clearable
            @clear="getMockInitList"
            @keyup.enter.native="getMockInitList"
          >
            <el-button slot="append" icon="el-icon-search" @click="getMockInitList"></el-button>
          </el-input>
        </el-col>
        <el-col :span="4">
          <el-button type="primary" @click="addDialogVisible = true">添加模板</el-button>
        </el-col>
      </el-row>
      <!-- 表格数据 -->
      <el-table :data="mockInitList" border stripe>
        <el-table-column align="center" label="序号" type="index"></el-table-column>
        <el-table-column label="名称" prop="name"></el-table-column>
        <el-table-column label="模板数据" prop="init"></el-table-column>
        <el-table-column align="center" label="操作" width="200px">
          <template slot-scope="scope">
            <el-button
              type="primary"
              icon="el-icon-edit"
              size="mini"
              @click="editMockInitById(scope.row.id)"
            ></el-button>
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              @click="removeById(scope.row.id)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页区域 background -->
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="queryInfo.page"
        :page-sizes="[10, 20, 30, 40, 50]"
        :page-size="queryInfo.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
      <!-- 添加模板弹窗 -->
      <el-dialog
        title="添加模板"
        :visible.sync="addDialogVisible"
        width="30%"
        :before-close="addHandleClose"
        :close-on-click-modal="false"
      >
        <!-- 弹窗body -->
        <el-form
          :model="addMockInitForm"
          :rules="addMockInitFormRules"
          ref="addMockInitFormRef"
          label-width="80px"
          class="ruleForm"
        >
          <el-form-item label="名称" prop="name">
            <el-input v-model="addMockInitForm.name" placeholder="请输入名称"></el-input>
          </el-form-item>
          <el-form-item label="模板数据" prop="init">
            <el-input type="textarea" :rows="2" placeholder="请输入内容" v-model="addMockInitForm.init"></el-input>
          </el-form-item>
        </el-form>
        <!-- 弹窗footer -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="addCancelDialogVisible">取 消</el-button>
          <el-button type="primary" @click="addMockInitSubmit">确 定</el-button>
        </span>
      </el-dialog>

      <!-- 编辑MockInit弹窗 -->
      <el-dialog
        title="编辑模板"
        :visible.sync="editDialogVisible"
        width="30%"
        :before-close="editHandleClose"
        :close-on-click-modal="false"
      >
        <!-- 弹窗body -->
        <el-form
          :model="editMockInitForm"
          :rules="editMockInitFormRules"
          ref="editMockInitFormRef"
          label-width="80px"
          class="ruleForm"
        >
          <el-form-item label="名称" prop="name">
            <el-input v-model="editMockInitForm.name" placeholder="请输入名称"></el-input>
          </el-form-item>
          <el-form-item label="模板数据" prop="init">
            <el-input type="textarea" :rows="2" placeholder="请输入内容" v-model="editMockInitForm.init"></el-input>
          </el-form-item>
        </el-form>
        <!-- 弹窗footer -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="editCancelDialogVisible">取 消</el-button>
          <el-button type="primary" @click="editDepartmentSubmit(editMockInitForm.id)">确 定</el-button>
        </span>
      </el-dialog>
    </el-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      queryInfo: {
        kw: '',
        page: 1
        // pageSize: 10
      },
      // 商品列表
      mockInitList: [],
      // 商品总数
      total: 0,
      addDialogVisible: false,
      addMockInitForm: { name: '', init: '' },
      addMockInitFormRules: {
        name: [
          { required: true, message: '请输入名称', trigger: 'blur' },
          { min: 3, max: 32, message: '长度在 3 到 32 个字符', trigger: 'blur' }
        ],
        init: [
          { required: true, message: '请输入模板内容', trigger: 'blur' },
          {
            min: 2,
            max: 32,
            message: '长度在 2 到 1024 个字符',
            trigger: 'blur'
          }
        ]
      },
      editDialogVisible: false,
      editMockInitForm: { id: '', name: '', init: '' },
      editMockInitFormRules: {
        name: [
          { required: true, message: '请输入模板名称', trigger: 'blur' },
          { min: 3, max: 32, message: '长度在 3 到 32 个字符', trigger: 'blur' }
        ],
        init: [
          { required: true, message: '请输入模板内容', trigger: 'blur' },
          {
            min: 2,
            max: 32,
            message: '长度在 2 到 1024 个字符',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  created() {
    this.getMockInitList()
  },
  methods: {
    // 根据分页获取对应的MockInit列表
    async getMockInitList() {
      const { data: res } = await this.$http.get('/mock/init', {
        params: this.queryInfo
      })
      if (res.code !== 200) {
        return this.$message.error(res.message)
      }
      this.mockInitList = res.data
      //   console.log(this.goodsList)
      this.total = res.total_count
    },
    // 添加项目弹窗 点击 x的效果
    addHandleClose() {
      this.addDialogVisible = false
      this.$refs.addVersionFormRef.resetFields()
    },
    // 取消按钮操作
    addCancelDialogVisible() {
      this.addDialogVisible = false
      this.$refs.addMockInitFormRef.resetFields()
    },
    addMockInitSubmit() {
      this.$refs.addMockInitFormRef.validate(async valid => {
        if (!valid) return false
        const { data: res } = await this.$http.post(
          '/mock/init',
          this.addMockInitForm
        )
        if (res.code !== 200) return this.$message.error('添加失败！')
        this.addDialogVisible = false
        this.$refs.addMockInitFormRef.resetFields()
        this.$message.success('添加成功！')
        this.getMockInitList()
      })
    },
    // 变更分页size
    handleSizeChange(newSize) {
      this.queryInfo.pageSize = newSize
      this.getMockInitList()
    },
    // 变更页面
    handleCurrentChange(newSize) {
      this.queryInfo.page = newSize
      this.getMockInitList()
    },
    // 删除MockInit
    async removeById(id) {
      const confirmResult = await this.$confirm(
        '此操作将永久删除, 是否继续?',
        '温馨提示',
        {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }
      ).catch(err => err)
      if (confirmResult !== 'confirm') {
        return this.$message.info('已取消删除！')
      }
      const { data: res } = await this.$http.delete('/mock/init/' + id)
      if (res.code !== 200) {
        return this.$message.error(res.message)
      }
      this.$message.success('删除成功！')
      this.getMockInitList()
    },
    async editMockInitById(id) {
      const { data: res } = await this.$http.get('/mock/init/' + id)
      if (res.code !== 200) return this.$message.error('系统异常！')
      this.editMockInitForm.name = res.data[0].name
      this.editMockInitForm.id = res.data[0].id
      this.editMockInitForm.init = res.data[0].init
      this.editDialogVisible = true
    },
    // 取消编辑MockInit按钮操作
    editCancelDialogVisible() {
      this.editDialogVisible = false
      this.$refs.editMockInitFormRef.resetFields()
    },
    editDepartmentSubmit(id) {
      this.$refs.editMockInitFormRef.validate(async valid => {
        if (!valid) return false
        const { data: res } = await this.$http.put(
          '/mock/init/' + id,
          this.editMockInitForm
        )
        if (res.code !== 200) return this.$message.error('编辑失败！')
        this.editDialogVisible = false
        this.$refs.editMockInitFormRef.resetFields()
        this.$message.success('编辑成功！')
        this.getMockInitList()
      })
    },
    // 添加环境弹窗 点击 x的效果
    editHandleClose() {
      this.$refs.editEnvFormRef.resetFields()
      this.editDialogVisible = false
    }
  }
}
</script>

<style lang="less" scoped></style>
