<template>
  <el-container>
    <!-- 头部 -->
    <el-header style="height: 42px !important;">
      <div>
        <a href="/home">
          <img src="../../public/logo.png"
               alt />
        </a>
        <span>VTest</span>
      </div>
      <div>{{times}}</div>
      <div class="block">
        <el-avatar :size="30">{{ shortname }}</el-avatar>
        <el-dropdown>
          <span class="el-dropdown-link">
            {{ username }}
            <i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item disabled>
              <i class="el-icon-user"></i>个人信息
            </el-dropdown-item>
            <el-dropdown-item disabled>
              <i class="el-icon-unlock"></i>修改密码
            </el-dropdown-item>
            <el-dropdown-item>
              <span @click="logout">
                <i class="el-icon-switch-button"></i>退 出
              </span>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </el-header>
    <!-- 主体 -->
    <el-container>
      <!-- 侧边栏 -->
      <el-aside :width="isCollapse ? '64px' : '200px'">
        <div class="toggle-button"
             @click="togleCollapse">
          <i :class="togleIcon"></i>
        </div>
        <el-menu unique-opened
                 :collapse="isCollapse"
                 :collapse-transition="false"
                 router
                 :default-active="activePath"
                 background-color="#333744"
                 text-color="#fff"
                 active-text-color="#409FFF">
          <!-- :unique-opened="true"->只允许展开一个菜单 -->
          <!-- :collapse-transition="false" -> 关闭动画 -->
          <!-- router -> 导航开启路由模式 -->
          <!-- 一级菜单  -->
          <el-submenu :index="item.id + ''"
                      v-for="item in menuList"
                      :key="item.id">
            <!-- 一级菜单的模板区域 -->
            <template slot="title">
              <i :class="iconObj[item.id]"></i>
              <span>{{ item.name }}</span>
            </template>
            <!-- 二级菜单 -->
            <el-menu-item :index="subItem.path"
                          v-for="subItem in item.child_menus"
                          :key="subItem.id"
                          @click="saveNavState(subItem.path)">
              <!-- 导航开启路由模式：
              将index值作为导航路由-->
              <!-- 二级菜单的模板区域 -->
              <template slot="title">
                <i class="el-icon-menu"></i>
                <span>{{ subItem.name }}</span>
              </template>
            </el-menu-item>
          </el-submenu>
        </el-menu>
      </el-aside>
      <!-- 内容主体 -->
      <el-main>
        <router-view></router-view>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
export default {
  data () {
    return {
      // 用户名
      username: window.sessionStorage.getItem('username'),
      shortname: window.sessionStorage.getItem('shortname'),
      times: '',
      currentTime: new Date(),
      // 左侧菜单数据
      menuList: [],
      iconObj: {
        '10001': 'el-icon-s-order',
        '10002': 'el-icon-s-data',
        '10003': 'el-icon-wind-power',
        '10004': 'el-icon-truck',
        '10005': 'el-icon-s-tools',
        '10006': 'el-icon-notebook-1'
      },
      // 默认不折叠
      isCollapse: false,
      // 被激活导航地址
      activePath: '',
      togleIcon: 'el-icon-caret-left'
    }
  },
  created () {
    this.getTimes()
    this.getMenuList()
    this.activePath = window.sessionStorage.getItem('activePath')
  },
  methods: {
    logout () {
      // 清空token
      window.sessionStorage.clear()
      this.$message.success('登出成功')
      this.$router.push('/login')
    },
    // 获取请求菜单
    async getMenuList () {
      const { data: res } = await this.$http.get('/interfaces/menus')
      if (res.code !== 200) return this.$message.error(res.message)
      this.menuList = res.data
      // console.log(res)
    },
    // 菜单的折叠与展开
    togleCollapse () {
      this.isCollapse = !this.isCollapse
      if (this.isCollapse) return (this.togleIcon = 'el-icon-caret-right')
      this.togleIcon = 'el-icon-caret-left'
    },
    // 保存连接的激活地址
    saveNavState (activePath) {
      window.sessionStorage.setItem('activePath', activePath)
    },
    getTimes () {
      setInterval(this.getTimesInterval, 1000)
    },
    getTimesInterval: function () {
      let _this = this
      let year = new Date().getFullYear()
      let month = new Date().getMonth() + 1
      let day = new Date().getDate()
      let hours = new Date().getHours()
      let minutes = new Date().getMinutes()
      let seconds = new Date().getSeconds()
      if (hours < 10) {
        hours = '0' + hours
      }
      if (minutes < 10) {
        minutes = '0' + minutes
      }
      if (seconds < 10) {
        seconds = '0' + seconds
      }
      _this.times = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds
    }

  },
  beforeDestroy () {
    if (this.times) {
      clearInterval(this.getTimesInterval)
    }
  }
}
</script>

<style lang="less" scoped>
.el-container {
  height: 100%;
}

.el-header {
  background-color: #373f41;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  align-items: center;
  color: #fff;
  font-size: 20px;

  > div {
    display: flex;
    align-items: center;

    img {
      height: 40px;
    }

    span {
      margin-left: 15px;
    }
  }
}

.el-aside {
  background-color: #333744;

  .el-menu {
    border: none;
  }
}

.el-main {
  background-color: #eaedf1;
}

.iconfont {
  margin-right: 10px;
}

.toggle-button {
  background-color: #4a5064;
  font-size: 10px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.2em;
  // 鼠标放上去变成小手
  cursor: pointer;
}

.el-dropdown-link {
  cursor: pointer;
  color: aliceblue;
}

.el-icon-arrow-down {
  font-size: 12px;
}
</style>
