<template>
  <div class="login_container">
    <div class="login_box">
      <!-- 头像区 -->
      <!-- <div class="avatar_box">
        <img src="../assets/logo.png" alt="avatar" />
      </div>-->
      <div>
        <h2 class="userlogin_text">用 户 登 录</h2>
      </div>
      <!-- 登录表单 -->
      <div>
        <el-form ref="loginFormRef"
                 :model="loginForm"
                 :rules="loginFormRules"
                 class="login_form">
          <el-form-item prop="username">
            <el-input v-model="loginForm.username"
                      prefix-icon="el-icon-user"
                      placeholder="用户名"
                      @keyup.enter.native="login"></el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input v-model="loginForm.password"
                      type="password"
                      prefix-icon="el-icon-lock"
                      placeholder="密   码"
                      @keyup.enter.native="login"></el-input>
          </el-form-item>
          <el-form-item class="btns">
            <el-button type="primary"
                       @click="login"
                       style="padding: 12px 130px !important;">登 录</el-button>
            <!-- <el-button type="info" @click="resetLoginForm">重置</el-button> -->
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      loginForm: {
        username: 'vtest',
        password: 'qwer1234'
      },
      // 表单验证
      loginFormRules: {
        username: [
          { required: true, message: '请输入用户名', trigger: 'blur' },
          { min: 2, max: 10, message: '长度在 2 到 10 个字符', trigger: 'blur' }
        ],
        password: [
          { required: true, message: '请输入用户密码', trigger: 'blur' },
          { min: 6, max: 18, message: '长度在 6 到 18 个字符', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    // 表单重置按钮
    resetLoginForm () {
      // console.log(this)
      // resetFields：element-ui提供的表单方法
      this.$refs.loginFormRef.resetFields()
    },
    login () {
      // 表单预验证
      // valid：bool类型
      this.$refs.loginFormRef.validate(async valid => {
        // console.log(valid)
        if (!valid) return false
        // this.$http.post('login', this.loginForm): 返回值为promise
        // 返回值为promise，可加await简化操作 相应的也要加async
        const { data: res } = await this.$http.post('/interfaces/user/login', {
          username: this.loginForm.username.toLowerCase(),
          password: this.loginForm.password
        })
        // console.log(res)
        if (res.code !== 200) return this.$message.error(res.message)
        this.$message.success(res.message)
        // 1、将登陆成功之后的token, 保存到客户端的sessionStorage中; localStorage中是持久化的保存
        //   1.1 项目中出现了登录之外的其他API接口，必须在登陆之后才能访问
        //   1.2 token 只应在当前网站打开期间生效，所以将token保存在sessionStorage中
        window.sessionStorage.setItem('token', res.token)
        window.sessionStorage.setItem('username', res.data.name)
        window.sessionStorage.setItem('shortname', res.data.shortname)

        // 2、通过编程式导航跳转到后台主页, 路由地址为：/home
        this.$router.push('/home')
      })
    }
  }
}
</script>

<style scoped>
/* // lang="less" 支持less格式
// scoped vue的指令，只在当前组件生效 */

.login_container {
  position: fixed;
  width: 100%;
  height: 100%;
  /* min-height: 550px; */
  background-color: #aaa;
  background: #fff url('../assets/bg-bn.jpg') no-repeat 50%;
  background-size: cover;
}

.login_box {
  width: 450px;
  height: 360px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  /* -webkit-transform: translate(-50%, -100%); */
  background-color: rgba(220, 38, 38, 0.2);
  margin-top: -200px;
  margin-left: -225px;
  box-sizing: border-box;
  box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1),
    0 0 1px 0 rgba(10, 31, 68, 0.08);
  /*
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -250px;
  width: 500px;
  padding: 64px 90px 50px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(10,31,68,.1), 0 0 1px 0 rgba(10,31,68,.08); */
}

.avatar_box {
  width: 130px;
  height: 130px;
  border: 1px solid #eee;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 10px #ddd;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.avatar_box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #eee;
}

.login_form {
  position: absolute;
  bottom: 60px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  padding-left: 80px;
  padding-right: 80px;
}

.btns {
  display: flex;
  justify-content: center;
}

.info {
  font-size: 13px;
  margin: 10px 15px;
}

.userlogin_text {
  height: 28px;
  line-height: 28px;
  margin-bottom: 0px;
  margin-top: 50px;
  text-align: center;
  color: #ffffff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span {
  font-size: 16px;
}
</style>
